<ion-header>
  <ion-navbar color="primary">
    <ion-title *ngIf="!categoryTitle">Acontece na Guairacá! </ion-title>

    <ion-buttons *ngIf="!loggedUser" end>

    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-slides pager>

  <ion-slide *ngFor="let post of posts">
    <ion-title *ngIf="categoryTitle">{{categoryTitle}} posts</ion-title>
    <ion-card-title [innerHTML]="post.title.rendered"></ion-card-title>
    <button ion-button small color="primary" (click)="postTapped($event, post)" icon-start>
      Leia mais!
    </button>
    <button ion-button clear small color="primary" icon-start>
      {{post.date.split('T')[0]}}
    </button>
  </ion-slide>


</ion-slides>
